<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Thymeleaf</title>
        <script type="text/javascript" src="/static/js/jquery-3.6.0.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            $(function () {
                $("#title").html("我是二级标题")
            })
        </script>
        <h2 id="title"></h2>
        <div id="show" th:text="${_csrf.parameterName} + ':' + ${_csrf.token}"></div>
        <table width="20%" border="1px">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                </tr>
            </thead>
            <tbody th:each="customer, iterStat : ${customers}"
                   th:utext="'<tr><td>' + ${iterStat.count} + '</td><td>' + ${customer.id} + '</td><td>'
                   + ${customer.name} + '</td><td>' + ${customer.age} + '</td></tr>'">
            </tbody>
        </table>
    </body>
</html>